.body__map{
    display: grid;
    grid-template-columns: 50% auto;
    margin-top: 30px;
}
.body__map > *:first-child {
    justify-self: center; 
}
.header__menu{
    opacity: 1 !important;
}

.map-site ul{
    list-style-type:disc;
}

.map-site li{
    padding-left: 15px;
    font-size: 20px;
}
.spis{
    margin-top: 20px;
}
a{
    text-decoration: none;
    color: #3f3f3f;
}
a:hover{
    color: #666;
}
a:active{
    color: brown;
}

img{
    pointer-events: none;
}
.melnitsa{
    position: relative;
    margin-left: 40%;
}
.meln{
    position: relative;
}
.lopas{
    position: absolute;
    top: 27%;
    left: 35.5%;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.lopas img {
    animation: rotate 25s linear infinite;
    transform-origin: 51% 50%;
}

footer{
    grid-column: span 2;
}