* {
    margin: 0;
    padding: 0;
}  
.body__product {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px auto auto;
    row-gap: 60px;
}

.body__product > *:first-child {
    justify-self: start; 
}
  
.body__product > *:not(:first-child):not(:last-child)  {
    justify-self: center; 
}
.body__product > *:last-child {
    justify-self: end; 
}

.header__product{
    grid-column: span 3;
    width: 100%;
    background-color: #333333e8;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 4;
}
.in{
    font-size: 20px !important;
}
.stroka{
    grid-column: span 3;
    width: 100%;
}
.product-list{
    width: 100%;
    grid-column: span 3;
    grid-row: span 3;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: space-evenly;
    row-gap: 60px;
}


.card {
    position: relative;
    width: 320px;
    height: 480px;
    border-radius: 20px;
    overflow: hidden;
}
.bread{
    background: #335870;
}
.sweat{
    background: #cd7b7d;
}
.drink{
    background: #679463;
}
.card::before {
    content: "";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: #FDF9E0;
    transform: skewY(345deg);
    transition: 0.5s;
}

.card:hover::before {
    top: -70%;
    transform: skewY(390deg);
}

.card::after {
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 6em;
    color: rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}
.bread::after{
    content: "ХЛЕБ";
}
.sweat::after{
    content: "СЛАДОСТИ";
}
.drink::after{
    content: "ЧАЙ, КОФЕ";
}
.card .imgBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}
.imgBox img{
    width: 90%;
    pointer-events: none;
}
.card .contentBox {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.card .contentBox h3 {
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card .contentBox .price {
    font-size: 24px;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
}

.card .contentBox .buy {
    position: relative;
    top: 100px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: #000000;
    text-decoration: none;
    background-color: #FDF9E0;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}
.buy:active{
    background-color: #8e8e8e !important;
}

.card:hover .contentBox .buy {
    top: 0;
    opacity: 1;
}

.mouse {
    height: 300px;
    width: auto;
}




.cart-items {
    display: grid;
    grid-template-rows: repeat(7, 50px);
    margin-left: 150px;
    margin-top: 60px;
  }
  
 
  .cart-summary {
    text-align: right;
    margin-bottom: 100px;
    margin-right: 10px;
  }
  
  .cart-total {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .checkout-btn {
    cursor: pointer;
    float: right;
  }

.korzina{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-evenly;
    font-size: 20px;
}
#cart-table-body div{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-evenly;
    align-items: stretch;
    position: relative;
    margin-bottom: 10px;
    font-size: 20px;
}


.polosa {
    border-top: dashed 5px #335870;
    margin-right: 150px;
}


.button-card-wrapper{
    display: flex;
    width: 150px;
    justify-content: space-around;
  }
  
  .button-card-wrapper .rem{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .button-card-wrapper .add{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .button-card-wrapper .rem,
  .button-card-wrapper .add{
    border: none;
    padding: 0 20px;
    font-size: 20px;
    transition: .2s linear;
  }

  .button-card-wrapper .rem:hover,
  .button-card-wrapper .add:hover{
    cursor: pointer;
    transition: .2s linear;
    background-color: #d3d3d3;
  }



.del{
    border: none;
    padding: 5px 10px;
    color: #a09d9d;
}  

.del:hover {
  background-color: #E04343;
  color: white;
}



